# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# games
/iso

# testing
/out
/testing

# other
.gitignore
/.git
/DOC
/.vs
/.vs/*
PS2Recomp-main/
black.iso


docs/notas_estudos/*.pdf
docs/arq_ps2_ref_uma_analise_pratica/*